dialog {
    background-color: var(--color-main-light);
    border: none;
    border-radius: 20px;
    padding: 64px 124px 80px 124px;
    position: relative;
}

dialog::backdrop {
    background-color: var(--color-brown);
    opacity: 0.4;
}

dialog:focus {
    outline: none;
}

.vertical-container {
    display: flex;
    flex-direction: column;        /* or column */
    justify-content: flex-start; /* or center, flex-start, flex-end */
    align-items: center;        /* or stretch, flex-start */
    align-items: stretch; /* makes child items fill nav height */
    height: 100%;
    gap: 24px;
    margin-top: 24px;
    padding: 40px 80px;
    border: 2px solid var(--color-darker);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(69, 33, 3, 0.25);
}

.horizontal-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

dialog h1 {
    color: var(--color-black);
    font-family: var(--font-header);
    font-size: 38px;
    font-weight: 600;
    display: block;
    margin: 0;
    text-align: center;
}

dialog input {
    background-color: var(--color-darker);
    border: none;
    border-radius: 10px;
    font-family: var(--font-main);
    font-size: 16px;
    padding: 18px 32px;
}

dialog input:focus {
    outline: 1px solid var(--color-accent-middle);
}

dialog label {
    font-family: var(--font-main);
    font-size: 16px;
    width: 150px;
}

dialog button {
    display: block;
    background-color: var(--color-accent-middle);
    color: var(--color-main-light);
    border: none;
    border-radius: 10px;
    margin: auto;
    padding: 16px 64px;
    font-family: var(--font-main);
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s background ease-in;
}

dialog button:hover {
    background-color: var(--color-accent-bright);
}

dialog .button-danger {
    background-color: var(--color-accent-dark);
}

dialog .button-danger:hover {
    background-color: var(--color-accent-bright-red);
}

.error-message-hidden {
    display: none;
}

.error-message-dialog {
    font-family: var(--font-header);
    font-weight: 600;
    color: var(--color-accent-dark);
    text-align: center;
    margin: 0;
}

.close-button-dialog {
    background-color: transparent;
    color: var(--color-black);
    padding: 0;
    margin: 0;
    display: inline;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.close-button-dialog img {
    width: 56px;
    height: 56px;
}

.close-button-dialog:hover {
    background-color: transparent;
}

.close-button-dialog:hover img {
    content: url("src/assets/icons/close-icon-red.svg");
}


.connect-button img {
    height: 24px;
}